:root {
  --ub-green: #1dbe42;       /* Standard green (Bootstrap's default) */
  --vivid-ub-green: #1e7e34; /* Saturated green for emphasis */
  --ub-dark-green: #155724;  /* Darker green for hover/focus */
  --ub-green-border: #196926; /* Border shade */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-green {
  background-color: var(--ub-green);
  border: var(--ub-green-border);
  transition: 0.25s;
}

.bg-green:hover {
  background-color: var(--vivid-ub-green);
  border: var(--ub-green-border);
}

.bg-green:focus {
  background-color: var(--ub-dark-green);
  color: white;
  border: var(--ub-green-border);
}

.bg-green:hover:focus {
  background-color: var(--ub-dark-green);
  color: white;
  border: var(--ub-green-border);
}

.green {
  color: var(--ub-green);
}

.vivid-green {
  color: var(--vivid-ub-green);
}

#content {
  height: 90%;
}

.container-fluid {
    min-height: calc(100vh - 60px); /* Adjust for header height */
}

/* Header styling */
.row.border-bottom {
    color: white;
    padding: 1rem;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deleteButton, #homeButton, #userButton {
  transition: 0.25s;
}

#deleteButton:hover {
  color: #dc3545;
}

#homeButton:hover {
  color: var(--ub-green);
}

#userButton:hover {
  color: #0d6efd
}

.icon-lg {
    font-size: 1.5rem;
}

.container-fluid > .row {
  flex-wrap: nowrap;
}

.col, .col-md-6 {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
}

#chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin-left: .75rem;
}

.chat-features {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#conversation {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: .5rem;
  padding-right: .5rem;
}

.chat-features > form {
  flex: 0 0 auto;
}

#sources {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#source-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

#source-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

#source-content > form {
  flex: 0 0 auto;
  margin-top: 1rem;
}

#modelSearchInput {
  width: 90%;
}

.badge {
  background-color: var(--ub-green);
  color: black;
  margin-top: 5px;
  margin-right: 5px;
}

.badge:hover {
  cursor: pointer;
  color: white;
}

pre {
  background: #161e25;
  border-left: 3px solid var(--ub-green);
  page-break-inside: avoid;
  font-family: monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}