:root {
  --pink: #ffb3c6;
  --pink-border: #c97b8e;
  --dark-pink: #dd486d;
  --text: rgb(22, 22, 22);
  --vivid-pink: rgb(252, 128, 161);
}

html,
body {
  height: 100%;
  color: var(--text);
}

.bg-pink {
  background-color: var(--pink);
  color: var(--text);
  border: var(--pink-border);
  transition: 0.25s;
}

.bg-pink:hover {
  background-color: var(--vivid-pink);
  color: var(--text);
  border: var(--pink-border);
}

.bg-pink:focus {
  background-color: var(--dark-pink);
  color: white;
  border: var(--pink-border);
}

.bg-pink:hover:focus {
  background-color: var(--dark-pink);
  color: white;
  border: var(--pink-border);
}

.pink {
  color: var(--pink);
}

.vivid-pink {
  color: var(--vivid-pink);
}

.large-icon {
  font-size: 2rem;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#floatingPassword {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#floatingPasswordLogin {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#floatingPasswordConf {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
