:root {
	--bg: #28112B;
	--darkpurple: #150513;
	--green: #5F6354;
	--darkgreen: #4A503B;
	--text: #F4F1DE
}

* {
	padding: 0;
	margin: 0;
	color: var(--text);
	overflow: hidden;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
	background-color: var(--bg);
}

.title {
	font-family: "Crimson Text", serif;
	font-weight: 600;
	font-style: normal;
}

.body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	overflow-x: hidden;
}

#hero {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	padding-left: 15%;
}

#header .title{
	font-size: 65pt;
}

#header .body{
	font-size: 20pt;
}

#new-project-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background: var(--darkpurple);
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	font-family: "Inter", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	cursor: pointer;
	border: none;
	margin-top: 5vh;
	width: 14%;
}

#new-project-btn .material-symbols-outlined {
	color: var(--bg);
	font-size: 2rem;
}

#projects {
	width: 75vw;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2.5vh;
	justify-content: flex-start;
}
  
.projectCard {
	position: relative;
	flex: 0 0 calc(25% - 2rem);
	aspect-ratio: 1;
	background-color: var(--darkpurple);
	border-radius: 2rem;
	overflow: hidden;
	padding: 1.5rem;
	display: flex;
	align-items: flex-end;
	color: var(--text);
	box-sizing: border-box;
}

.projectCard:hover {
	cursor: pointer;
}
  
.projectCard:nth-child(2n) {
	background-color: var(--green);
}

.projectCard:nth-child(2n) .material-symbols-outlined {
	color: var(--darkgreen);
}
  
.projectCard .material-symbols-outlined {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	font-size: 4rem;
	color: var(--bg);
}
  
.projectText h3 {
	margin-bottom: 0.5rem;
	font-family: "Crimson Text", serif;
	font-weight: 600;
	font-size: 3rem;
	line-height: 1.2;
}
  
.projectText p {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4;
	white-space: normal;
}
  