:root {
  --ub-green: #1dbe42;       /* Standard green (Bootstrap's default) */
  --vivid-ub-green: #1e7e34; /* Saturated green for emphasis */
  --ub-dark-green: #155724;  /* Darker green for hover/focus */
  --ub-green-border: #196926; /* Border shade */
}

html,
body {
  height: 100%;
}

.bg-green {
  background-color: var(--ub-green);
  border: var(--ub-green-border);
  transition: 0.25s;
}

.bg-green:hover {
  background-color: var(--vivid-ub-green);
  border: var(--ub-green-border);
}

.bg-green:focus {
  background-color: var(--ub-dark-green);
  color: white;
  border: var(--ub-green-border);
}

.bg-green:hover:focus {
  background-color: var(--ub-dark-green);
  color: white;
  border: var(--ub-green-border);
}

.green {
  color: var(--ub-green);
}

.vivid-green {
  color: var(--vivid-ub-green);
}

.large-icon {
  font-size: 2rem;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#floatingPassword {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#floatingPasswordLogin {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#floatingPasswordConf {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}