<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ultrabook_app/styles.css' %}">
    <title>Home</title>
</head>
<body class="d-flex align-items-center py-4 bg-body">
    <main class="w-75 m-auto">
        <div class="text-end justify-content-end" id="user-container">
            <div class="dropdown p-2">
                <a href="#" data-bs-toggle="dropdown" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" aria-expanded="false">
                    <i class="bi bi-person-circle icon-lg"></i>
                </a>
                <ul class="dropdown-menu shadow">
                    <li>
                        <p class="dropdown-item">
                            {{ user.username }}
                        </p>
                    </li>
                    <li>
                        <a href="{% url 'users:logout' %}" class="dropdown-item">
                            <span class="icon pe-2">
                                <i class="bi bi-door-open-fill"></i>
                            </span>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="header">
            <h1 class="title fw-semibold" id="heading">Welcome to ultrabook {% if user.is_authenticated %} {{ user.username }}! {% endif %}</h1>
            {% if projects|length > 0 %}
                <p class="lead">Create a new project or select one below</p>
                <button id="new-project-btn" class="btn btn-light magic-border btn-lg d-flex justify-content-center align-items-center magic-text" data-bs-toggle="modal" data-bs-target="#createProjectForm"><i class="bi bi-plus large-icon"></i> New Project</button>
                <div id="projects" class="d-flex flex-wrap">
                    {% for project in projects %}
                        <div class="card me-2 mt-5 bg-light text-dark magic-border" style="width: 18rem;">
                            <a href="{% url 'home:open-project' project_key=project.pk %}" id="anchorCard">
                                <div class="card-body">
                                    <i class="bi bi-{{ project.icon }} mb-5 large-icon magic-text"></i>
                                    <h3 class="card-title text-truncate">{{ project.title }}</h3>
                                    <p class="card-text mb-2 text-truncate">{{ project.desc }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="lead">Create a new project to begin</p>
                <button id="new-project-btn" class="btn btn-light magic-border btn-lg" data-bs-toggle="modal" data-bs-target="#createProjectForm"><i class="bi bi-plus"></i> New Project</button>
                <div id="projects"></div>
            {% endif %}
            <div id="createProjectForm" class="modal fade" tabindex="-1" aria-labelledby="createProjectForm">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-semibold mb-0 fs-3">Create a new project</h1>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>
                        <form action="{% url 'home:new-project' %}" method="post" enctype="multipart/form-data" id="fileForm">
                            {% csrf_token %}
                            <div class="modal-body p-5 pt-0 d-flex">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" name="title" class="form-control bg-body-tertiary" id="floatingTitle" placeholder="New Project" required aria-required="true">
                                                <label for="floatingTitle">New Title</label>
                                            </div>
                                            <div class="form-floating">
                                                <input type="text" name="desc" class="form-control bg-body-tertiary" id="floatingDesc" placeholder="A short description" required aria-required="true">
                                                <label for="floatingDesc">A short description</label>
                                            </div>
                                        </div>
                                        <div class="col" id="file-upload">
                                            <div id="dropzone" class="box__input">
                                                <label for="file" class="form-label" id="fileLabel"><strong >Choose files</strong><span class="box__dragndrop"> or drag them here</span></label>
                                                <input class="box__file form-control bg-body-tertiary" type="file" name="files" id="file" data-multiple-caption="{count} files selected" multiple onchange="validateFile()" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="form-floating">
                                            <input type="text" name="urls" class="form-control bg-body-tertiary" id="floatingUrls" placeholder="URL sources to use (separate with commas)">
                                            <label for="floatingUrls" class="ps-4">URL sources to use (separate with commas)</label>
                                            <div id="chipsContainer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-light magic-border" data-bs-dismiss="modal">Create Project</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'ultrabook_app/app.js' %}"></script>
</body>
</html>